.skill_tile_wrapper {
  --height: 80px;
  width: 100%;
  height: var(--height);
  position: relative;
  background-color: var(--black-700);
  margin-bottom: 20px;
  border-radius: var(--padding-s);
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.skill_tile_info_card {
  width: 100%;
  position: absolute;
  padding: var(--padding-s);
  /* background-color: tomato; */
  margin-top: 80px;
  border: 1px solid var(--grey-lite-200);
  border-top: 0;
  transition: border-radius 0.3s linear;
  border-radius: var(--padding-s);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: var(--fs-400);
}

.skill_tile_header_wrapper {
  width: 100%;
  height: 80px;
  position: absolute;
  /* background-color: antiquewhite; */
  top: 0;
  padding: 0;
  opacity: 0;
  transform: translateY(80px);
  transition: transform 0.3s ease-in-out,opacity 0.4s ease-in-out,
    border-radius 0.3s linear;
  border: 1px solid var(--grey-lite-200);
  /* border: 1px solid var(--grey-100); */
  border-radius: var(--padding-s);
}

.skill_tile_header {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: var(--padding-s);
  /* color: var(--black-700); */
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: row;
}

.logo_wrapper {
  width: 80px;
  /* background-color: rgb(253, 197, 112); */
  height: 100%;
  border-right: 1px solid var(--grey-lite-100);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.skill_title_text_wrapper {
  width: 100%;
  /* background-color: rgb(197, 152, 84); */
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  overflow: hidden;
}

.skill_title_text_wrapper > h5 {
  margin-left: 2rem;
  font-size: var(--fs-400);
  color: var(--grey-300);
  transform-origin: left;
  transition: transform 0.3s linear, text-shadow 0.3s linear;
  /* font-family: 'jetBrains'; */
}

.skill_title_text_wrapper > p {
  position: absolute;
  bottom: 1px;
  font-size: var(--fs-200);
  color: var(--green-500);

  white-space: nowrap;
  /* height: 14px;
  width: fit-content; */
  transform: translateX(120%);
  animation: running_text_anime 9s linear infinite;
}

.collaps_icon_wrapper {
  position: absolute;
  right: 1em;
  top: 50%;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-50%);
  /* background-color: red; */
  width: 10px;
  height: 10px;
  /* border: 1px solid grey; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.collaps_icon_wrapper > span {
  width: 70%; /* 140% */
  height: 1px;
  display: block;
  transform-origin: left;
  background-color: var(--grey-500);
  transition: width 0.3s linear, transform 0.3s linear;
}

.collaps_icon_wrapper > span:first-child {
  transform: rotate(45deg);
}
.collaps_icon_wrapper > span:last-child {
  transform: rotate(315deg);
}

.collaps_icon_wrapper:hover {
  transform: translateY(-50%) rotate(180deg);
}

.collaps_icon_wrapper:hover > span {
  width: 140%;
}

@keyframes running_text_anime {
  100% {
    transform: translateX(-120%);
  }
}


.skill_tag{
  position: absolute;
  top: 4px;
  right: 10px;
  width: fit-content;
  color: var(--black-700);
  padding: 0.3em 0.7em;
  border-radius: 0.2rem;
  font-size: 0.5rem;
  background: rgb(36,180,126);
  background: linear-gradient(131deg, rgba(36,180,126,1) 0%, rgba(36,180,126,1) 29%, rgba(133,236,198,1) 50%, rgba(36,180,126,1) 65%, rgba(36,180,126,1) 100%);
  background-size: 300% 100%;
  animation: skill_tag_shine_anime 20s linear infinite forwards;
}


@-webkit-keyframes skill_tag_shine_anime {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes skill_tag_shine_anime {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}


/* 
.icon {
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 50px;
  display: inline-block;
  
  margin: 25px 0 25px 25px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 12px;
  font-family: sans-serif;
}

.icon:nth-child(1) { background: cornflowerblue; }
.icon:nth-child(2) { background: salmon; }
.icon:nth-child(3) { background: gray; } */

/**
 * The "shine" element
 */

/*  
.icon:after {
  
  animation: shine 5s ease-in-out  infinite;
  animation-fill-mode: forwards;  
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
} */

/* Hover state - trigger effect */

/* Active state */

/* 
.icon:active:after {
  opacity: 0;
}

@keyframes shine{
  10% {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }
  100% {
    opacity: 0;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
  }
} */

/* 
color: #ffff;

  font-size: 2rem;

  text-shadow: 0 0 10px #adadad, 0 0 20px #adadad, 0 0 30px #adadad,
    0 0 40px #adadad, 0 0 50px #adadad, 0 0 60px #adadad, 0 0 70px #adadad; */
/* 
.skill_tile_header::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  color: var(--black-700);
  position: absolute;
  transition: transform 1s ease-in-out;
  transform: translateX(-110%);
  background: var(--grey-100);
  z-index: -1;
} */

/* 
.skill_tile_header:hover::before {
  transform: translateX(0);
  color: var(--black-700);
} */
