.skill_tile_wrapper {
  --height: 40px;
  width: 100%;
  flex-basis: 47%;
  /* height: var(--height); */
  padding: 0.5em 0;
  position: relative;
  background-color: var(--black-600);
  margin-bottom: 20px;
  border-radius: 0.5em;
  border: 0.5px solid #3d3d3d;
  /* overflow: hidden; */
  transition: opacity 0.3s ease-in-out;
  position: relative;
  text-align: center;
  font-size: var(--fs-400);
}

.skill_tag {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: fit-content;
  color: rgb(36, 180, 126);
  padding: 0.1em 0.5em;
  border-radius: 0.2rem;
  font-size: var(--fs-100);
  transform: translateX(-50%);
}

.collaps_icon_wrapper {
  position: absolute;
  right: 0.3em;
  top: 50%;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.collaps_icon_wrapper > span {
  width: 70%; /* 140% */
  height: 1px;
  display: block;
  transform-origin: left;
  background-color: var(--grey-500);
  transition: width 0.3s linear, transform 0.3s linear;
}

.collaps_icon_wrapper > span:first-child {
  transform: rotate(45deg);
}
.collaps_icon_wrapper > span:last-child {
  transform: rotate(315deg);
}

.collaps_icon_wrapper:hover {
  transform: translateY(-50%) rotate(180deg);
}

.collaps_icon_wrapper:hover > span {
  width: 140%;
}
