.skills_heading {
  font-size: var(--fs-500);
  color: var(--grey-100);
  transform: scale(0);
  transition: transform 2s ease-in-out;
  margin: var(--padding-s) 0;
  margin-top: calc(var(--padding-s) * 2);
  width: fit-content;
}

.skill_section_wrapper{
  margin-bottom: var(--bottom-gap);
}
