:root {
  --black-700: #181818;
  --black-600: #1818188a;
  --grey-500: #707070;
  --grey-300: #7e7e7e;
  --grey-100: #adadad;
  --grey-lite-200: #525252;
  --grey-lite-100: #373737;
  --green-500: #24b47e;

  --green-gradiant: linear-gradient(
    87deg,
    rgba(0, 126, 79, 1) 0%,
    rgba(36, 180, 126, 1) 40%,
    rgba(106, 255, 199, 1) 100%
  );

  --grey-gradiant: linear-gradient(
    131deg,
    rgba(138, 138, 138, 1) 0%,
    rgba(225, 225, 225, 1) 40%,
    rgba(173, 173, 173, 1) 100%
  );

  --font-size: 1rem;

  --fs-800: clamp(2rem, 15vw, 5rem);
  --fs-700: clamp(1.5rem, 13vw, 4rem);
  --fs-600: clamp(1rem, 7vw, 3rem);
  --fs-500: clamp(1rem, 5vw, 1.7rem);
  --fs-400: clamp(0.5rem, 4.5vw, 1.4rem);
  --fs-200: clamp(0.25rem, 3.5vw, 1rem);
  --fs-100: clamp(0.5rem, 2vw, 0.7rem);

  --padding-s: 1rem;

  --bottom-gap: 1.5rem;
}

@font-face {
  font-family: 'quickSand';
  src: url('/public/fonts/Quicksand/Quicksand-VariableFont_wght.ttf')
      format('truetype'),
    url('/public/fonts/Quicksand/OFL.txt') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefinSans';
  src: url('/public/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf')
      format('truetype'),
    url('/public/fonts/Josefin_Sans/OFL.txt') format('otf');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'jetBrains';
  src: url('/public/fonts/JetBrains/JetBrainsMono-VariableFont_wght.ttf')
      format('truetype'),
    url('/public/fonts/JetBrains/OFL.txt') format('otf');

  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  /* background-color: var(--black-700); */
  color: var(--grey-500);

  /* background-color: #181818; */
  /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
  /* overflow-x: hidden;
  overflow: hidden; */
  /* font-family: 'jetBrains'; */
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.07rem;
  word-spacing: 0.2rem;
}
